@model MvcKutuphane.Models.EntityFramework.TBLDUYURULAR
@{
    ViewBag.Title = "DuyuruDetay";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="mw-500 text-center bg-transparent mb-4">
    <h1 class="sketchy text-center">Duyuru Detay</h1>
</div>

@using (Html.BeginForm("DuyuruGuncelle", "Duyuru", FormMethod.Post))
{
    <div class="d-flex">
        @Html.HiddenFor(x => x.ID)
        <div class="col-md-6">
            @Html.Label("Kategorisi")
            @Html.TextBoxFor(x => x.KATEGORI, new { @class = "form-control mt-1 mb-3" })
        </div><div class="col-md-6">
            @Html.Label("Tarihi")
            @Html.TextBoxFor(x => x.TARIH, "{0:MM/dd/yyyy}", new { @class = "form-control mt-1 mb-3"})
        </div>
    </div>
    <div class="col-md-12">
        @Html.Label("Mesaj")
        @Html.TextAreaFor(x => x.ICERIK, new { @class = "form-control mt-1 mb-3" })
    </div>

    <button class="btn btn-success">Güncelle</button>
}
