@model MvcKutuphane.Models.EntityFramework.TBLDUYURULAR
@{
    ViewBag.Title = "YeniDuyuru";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="mw-500 text-center bg-transparent">
    <h1 class="sketchy text-center">Yeni Duyuru</h1>
</div>
<br />
@using (Html.BeginForm("YeniDuyuru", "Duyuru", FormMethod.Post))
{
    <div class="d-flex">
        @Html.HiddenFor(x => x.ID)
        <div class="col-md-6">
            @Html.Label("Kategorisi")
            @Html.TextBoxFor(x => x.KATEGORI, new { @class = "form-control mt-1 mb-3" })
        </div><div class="col-md-6">
            @Html.Label("Tarihi")
            @Html.TextBoxFor(x => x.TARIH, new { @class = "form-control mt-1 mb-3" ,type="date"})
        </div>
    </div>
    <div class="col-md-12">
        @Html.Label("Mesaj")
        @Html.TextAreaFor(x => x.ICERIK, new { @class = "form-control mt-1 mb-3" })
    </div>

    <button class="btn btn-info">Yayımla</button>
}