@model MvcKutuphane.Models.EntityFramework.TBLHAREKET
@{
    ViewBag.Title = "OduncVer";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Ödünç Verme Sayfası</h2>
<br />
<br />

@using (Html.BeginForm("OduncVer", "Odunc", FormMethod.Post))
{
    <label style="margin-bottom:10px;">Üye ID</label>
    @Html.TextBoxFor(x => x.UYE, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.UYE, "", new { @style = "color:black;opacity:.7" })*@
    <br />
    <label style="margin-bottom:10px;">Kitap ID</label>
    @Html.TextBoxFor(x => x.KITAP, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.KITAP, "", new { @style = "color:black;opacity:.7" })*@
    <br />
    <label style="margin-bottom:10px;">Personel</label>
    @*@Html.DropDownListFor(x=>x.TBLPERSONEL.ID,(List<SelectListItem>)ViewBag.per1, new { @class = "form-control" })*@
    @Html.TextBoxFor(x => x.PERSONEL, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.PERSONEL, "", new { @style = "color:black;opacity:.7" })*@
    <br />
    <label style="margin-bottom:10px;">Kitap Alış Tarihi</label>
    <input type="text" class="form-control" name="ALISTARIHI" value="@DateTime.Now.ToShortDateString()" />
    @*@Html.ValidationMessageFor(x => x.KITAP, "", new { @style = "color:black;opacity:.7" })*@
    <br />
    <label style="margin-bottom:10px;">Kitap İade Tarihi</label>
    <input type="text" class="form-control" name="IADETARIH" value="@DateTime.Now.AddDays(15).ToShortDateString()" />
    @*@Html.ValidationMessageFor(x => x.KITAP, "", new { @style = "color:black;opacity:.7" })*@
    <br />
    <br />
    <button class="btn btn-info" style="margin:10px 0">Kitabı Ödünç Ver</button>
}
