@model MvcKutuphane.Models.EntityFramework.TBLHAREKET
@{
    ViewBag.Title = "OduncIade";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Teslim Sayfası</h2>

@using (Html.BeginForm("OduncGuncelle", "Odunc", FormMethod.Post))
{
    <br />
    @Html.HiddenFor(x => x.ID)
    <br />
    @Html.Label("Kitap Adı")
    @Html.TextBoxFor(x => x.TBLKITAP.AD, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.AD, "", new { @style = "color:black;opacity:.7" })*@
    <br />
    @Html.Label("Üye Adı")
    @Html.TextBoxFor(x => x.TBLUYELER.AD, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.AD, "", new { @style = "color:black;opacity:.7" })*@
    <br />
    @Html.Label("Personel")
    @Html.TextBoxFor(x => x.TBLPERSONEL.PERSONEL, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.AD, "", new { @style = "color:black;opacity:.7" })*@
    <br />
    @Html.Label("Alış Tarihi")
    @Html.TextBoxFor(x => x.ALISTARIHI, "{0:MM.dd.yyyy}", new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.AD, "", new { @style = "color:black;opacity:.7" })*@
    <br />
    @Html.Label("Normal İade Tarihi")
    @Html.TextBoxFor(x => x.IADETARIH, "{0:MM.dd.yyyy}", new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.AD, "", new { @style = "color:black;opacity:.7" })*@
    <br />
    @Html.Label("Üyenin Getirdiği Tarih")
    <input type="text" class="form-control" name="UYEGETIRTARIH" value="@DateTime.Now.ToShortDateString()" />
    @*@Html.ValidationMessageFor(x => x.AD, "", new { @style = "color:black;opacity:.7" })*@
    <br />
    <br />
    <button class="btn btn-info">Teslim Et</button>

}
