@using MvcKutuphane.Models.EntityFramework
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLMESAJ>

@{
    ViewBag.Title = "Giden";
    Layout = "~/Views/Shared/PanelLayout.cshtml";
}

<div class="mw-500 text-center bg-transparent mt-5 mb-5">
    <h1 class="sketchy text-center"> Gönderilen Mesajlar</h1>
</div>

@using (@Html.BeginForm("Giden", "Mesajlar", FormMethod.Get))
{
    <div style="float:right;">
        <a href="/Mesajlar/YeniMesaj" class="btn btn-success " style="margin-bottom:15px">Mesaj Gönder</a>
        <a href="/Mesajlar/Index" class="btn btn-secondary " style="margin-bottom:15px">Gelen Mesajlar</a>
    </div>
    <div class="Search-Container col-lg-4 col-lg-offset-0" style="display:flex">
        @Html.TextBox("search", "", new { placeholder = "Alıcıya göre ara..", @class = "form-control", style = "margin-right:5px" })
        <input type="submit" class="btn btn-default btn-group-lg" name="search" value="Ara">
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>Alıcı</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Yollanma Tarihi</th>
    </tr>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ALICI</td>
                <td>@x.KONU</td>
                <td>@x.ICERIK</td>
                <td>@Convert.ToDateTime(x.TARIH).ToString("MM.dd.yyyy")</td>
            </tr>
        }
    </tbody>

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
