@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<MvcKutuphane.Models.EntityFramework.TBLDUYURULAR>
@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/PanelLayout.cshtml";
}

<div class="mw-500 text-center bg-transparent  mt-3">
    <h1 class="sketchy text-center">Duyurular</h1>
</div>
<br />
<br />
@using (@Html.BeginForm("Duyurular", "Panel", FormMethod.Get , new { @class= "  mt-3" }))
{
    <div class="pull-right float-right">
        <a href="/Duyuru/YeniDuyuru" class="btn btn-success pull-right" style="margin-bottom:15px">Yeni Duyuru Ekle</a>
    </div>
    <div class="Search-Container col-lg-4 col-lg-offset-0" style="display:flex">
        @Html.TextBox("search", "", new { placeholder = "Search", @class = "form-control", style = "margin-right:5px" })
        <input type="submit" class="btn btn-default btn-group-lg" name="search" value="Ara">
    </div>
}

<table class="table table-bordered">
        <tr>
            <th scope="col">Kategori</th>
            <th scope="col">Tarih</th>
            <th scope="col">İçerik</th>
        </tr>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.KATEGORI</td>
                <td>@Convert.ToDateTime(x.TARIH).ToString("MM.dd.yyyy")</td>
                <td>@x.ICERIK</td>
             </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Duyurular", new { page }))
