@model MvcKutuphane.Models.EntityFramework.TBLILETISIM
@{
    ViewBag.Title = "MesajGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="mw-500 text-center bg-transparent mb-4">
    <h1 class="sketchy text-center">Kullanıcı Sorusu</h1>
</div>

<div class="d-flex">
    @Html.HiddenFor(x => x.ID)
    <div class="col-md-6">
        @Html.Label("Adı")
        @Html.TextBoxFor(x => x.AD, new { @class = "form-control mt-1 mb-3", @readonly = "" })
        @Html.Label("Mail Adresi")
        @Html.TextBoxFor(x => x.MAIL, new { @class = "form-control mt-1 mb-3", @readonly = "" })
    </div>
    <div class="col-md-6">
        @Html.Label("Soyadı")
        @Html.TextBoxFor(x => x.SOYAD, new { @class = "form-control mt-1 mb-3", @readonly = "" })
        @Html.Label("Mesajın Konusu")
        @Html.TextBoxFor(x => x.KONU, new { @class = "form-control mt-1 mb-3", @readonly = "" })
    </div>
</div>
<div class="col-md-12">
    @Html.Label("Mesaj")
    @Html.TextAreaFor(x => x.MESAJ, new { @class = "form-control mt-1 mb-3", @readonly = "" })
</div>

@using (Html.BeginForm("CevapYolla", "BizeUlasin", FormMethod.Post))
{
    <div class="col-md-12 mt-lg-5">
        <label>Cevabınızı Mail üzerinden yollayınız.</label>       
        <br />
        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new" class="btn btn-success" target="_blank" >Cevapla</a>
    </div>
}

